.reservation{
width: 100%;
font-size: 10px;
}
.reservation img{
 width: 100px;
 margin-top: 20px;
 border-radius: 50%;
 border-bottom: 5px solid rgb(60, 100, 62);
}
.reservation h4{
     font-size: 30px;
     margin-top: 15px;

}
nav{
    width: 30%;
    text-align: center;
    float: left;
     border: 2px solid;
      padding: 8px;
      font-size: 20px;
      background-color: rgb(243, 207, 141);
      color: black;

}
input{
    padding: 10px;
    border: 1px solid;
    font-size: 20px;
}

button{
    background-color: white;
    width: 100px;
     padding: 4px;
     border: 1px solid;
     margin-top: 15px;
     font-size: 15px;


}
.info{
 float:right;
 width: 60%;
 height: 100vh;
 padding: 0 30px;

}
table{
    width: 800px;
    font-size: 22px;
    background-color: wheat;

}
table th{
 color: black;
 font-size: 25px;
 padding: 10px;

}
.social{

    width: 100%;
    margin-top: 20px;

}
.social i{
  color: rgb(226, 108, 108);
  padding-left: 10px;


}
